{% extends "main/base.html" %}

{% block title %}
Company Detail
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{vacancy.name}}</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Компания</td>
                            <td><a href="{% url 'main:company_detail' vacancy.company.pk %}">{{vacancy.company.name}}</a></td>
                        </tr>
                        <tr>
                            <td>Зарплата</td>
                            <td>{{vacancy.salary}} тг</td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>{{vacancy.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}